/*
 * Custom Styles: Overrides
 * 
 * @package McBoots-2018
 * version 0.1
 */

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           40px;

